{% extends 'photos/base.html' %}

{% block title %}
Edit photo
{% endblock title %}

{% block content %}


<a class="btn btn-dark mb-4" href="{% url 'view_photo' photo.id %}">Go Back</a>

<div class="row justify-content-center">
    <div class="col-md-6 card p-4">
        <h2 class="text-center">Edit description or category</h2>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="description">Description:</label>
                <input required type="text" placeholder="Enter a description" class="form-control" id="description"
                    name="description" value="{{photo.description}}">
            </div>

            {% if categories %}
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" name="category" id="category">
                    <option value="none">Select a category...</option>
                    {% for category in categories %}
                    {% if category == photo.category %}
                    <option value="{{category.id}}" selected>{{category.name}}</option>
                    {% else %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="form-group">
                <label for="category_new">Create a new category:</label>
                <input type="text" placeholder="Enter a new category name" class="form-control" id="category_new"
                    name="category_new">
            </div>

            <input type="submit" class="btn btn-primary btn-block mt-3" value="Save">
        </form>

    </div>
</div>


{% endblock content %}