{% extends 'photos/base.html' %}

{% block title %}
Gallery
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-3">

        {% if request.user.is_authenticated %}
        <div class="lead border p-2 mb-4 text-center">
            <b>Hello, {{request.user|title}} </b> 
            <a class="btn btn-outline-danger btn-block btn-sm mt-1" href="{% url 'logout' %}">Logout</a>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                <a class="a" href="{% url 'gallery' %}">All categories</a>
            </div>
            <ul class="list-group list-group-flush">
                {% for category in categories %}
                <a href="{% url 'gallery' %}?category={{category.name}}" class="a list-group-item">{{category.name}}</a>
                {% endfor %}
                <a class="btn btn-dark btn-sm m-2" href="{% url 'category_manager' %}">Category manager</a>
                <a class="btn btn-dark btn-sm m-2" href="{% url 'add' %}">Add photo</a>
            </ul>
        </div>

    </div>
    <div class="col-md-9">
        <div class="row">
            {% for photo in photos %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        {% if photo.category %}
                        <p class="card-text">Category: {{photo.category.name}}</p>
                        {% endif %}
                    </div>
                    <a class="btn btn-outline-dark btn-sm m-2 mt-0" href="{% url 'view_photo' photo.id %}">View</a>
                </div>
            </div>
            {% empty %}
            <h3>No photos...</h3>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}