{% extends 'photos/base.html' %}

{% block title %}
View photo
{% endblock title %}

{% block content %}

<a class="btn btn-dark mb-4" href="{% url 'gallery' %}">Go Back</a>
<div>
    <h4 class="mt-2">Category: {{photo.category.name}}</h4>
    <p>{{photo.description}}</p>
</div>
<div align="center">
    <img style="height: 65vh; max-width: 100%; max-height: 100%;" src="{{photo.image.url}}" alt="Card image cap">
    <div>
        <a class="btn btn-outline-primary btn-sm m-3" href="{% url 'edit_photo' photo.id %}">Edit</a>
        <a class="btn btn-outline-danger btn-sm m-3" href="{% url 'delete_photo' photo.id %}">Delete</a>
    </div>
</div>

{% endblock content %}